.nav {
  display: flex;
  list-style-type: none;
  gap: 5.6rem;
  margin: 0;

  &__item {
    &:hover {
      .nav__link {
        &:before {
          transform: scale(1);
        }
      }
    }
  }

  &__link {
    position: relative;
    color: $white;
    text-decoration: none;

    &:before {
      content: "";
      transition: all 0.3s;
      position: absolute;
      bottom: -0.5rem;
      transform: scale(0);
      background: red;
      display: block;
      width: 100%;
      height: 0.2rem;
    }
  }
}
