.start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.start_run {
  display: flex;
  margin-top: 20rem;
}

.start img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start h2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  color: $white;
  margin: 0;
  padding: 2rem;
}

.start h3 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
  color: $white;
  opacity: 0.5;
  margin: 0;
  display: inline-block;
  position: initial;
  margin-top: 42.7rem;
  margin-left: -46.7rem;
}
.start_grafick {
  padding-top: 8rem;
}

.row {
  display: flex;
}

.col-md-3 {
  display: flex;
}
.title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
  color: $white;
}

.subtitle {
  width: 30.6rem;
  height: 8.8rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 160%;
  color: $white;
  opacity: 0.5;
  margin-top: 5.8rem;
  margin-left: -9rem;
  padding-right: 1.8rem;

  &:before {
    content: "";
    display: block;
    width: 324px;
    height: 80px;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  }
}
